<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title> Contact Page</title>
  <meta name="description" content="Contact Page">
  <meta name="author" content="SitePoint">

  <link rel="stylesheet" href="./contact.css">

</head>

<body id=heady>

<div class="box1">
  <p id=social >Socials!
    <br>
    <br>
    <a target="_blank" href="https://web.facebook.com/dawiydayim"> <img width=15% src="fb.png" alt="Facebook"> </a>
    <a target="_blank" href="https://github.com/dawiydayim"> <img width=15% src="git.png" alt="github"> </a>

    <a target="_blank" href="https://www.instagram.com/dawiyd/?ref=badge"> <img width=15% src="insta.png" alt="Instagram"> </a>
<br>
    <a href="https://twitter.com/dawiydayim?ref_src=twsrc%5Etfw"
    class="twitter-follow-button" data-size="large" data-show-count="false"
    >Follow @dawiydayim</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

</p>
</div>

<div class="box1">


<a class="boxtxt" href='./'> <p class="boxtxt" >Home</p></a>
</div>
</body>
</html>
