<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title> Contact Page</title>
  <meta name="description" content="Contact Page">
  <meta name="author" content="SitePoint">

  <link rel="stylesheet" href="./contact.css">

</head>

<body id=heady>
  <a href='./'> Home</a>
<div class=box1>
  <p class=boxtxt>Socials!
    <br>
    <br>
    <a href="https://twitter.com/dawiydayim?ref_src=twsrc%5Etfw"
    class="twitter-follow-button" data-size="large" data-show-count="false"
    >Follow @dawiydayim</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
<br>
    <a href="https://www.instagram.com/dawiyd/?ref=badge" class="ig-b- ig-b-16"><img src="//badges.instagram.com/static/images/ig-badge-16.png" alt="Instagram" /> <b>Follow on IG</b></a>


</p>
</div>




</body>
</html>
