<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title> Test App </title>

  <link rel="stylesheet" href="./home.css">

</head>

<body>

    <title>

      </title>

<div id=heady>
  <div class="box9">
    <p class="box"><a class="button" href="#popup1" id=hebrew>דוידים</a></p>
    <div id="popup1" class="overlay">
	<div class="popup">
		<h2>Dawiydayim</h2>
		<a class="close" href="#">&times;</a>
		<div class="content">
			(a website created by David Millard)
		</div>
	</div>
</div>
  </div>
<div class="box7">
  <p class="boxtxt"><a href=/contact >Contacts</a></p>
</div>
<div class="box8">
  <p class="boxtxt"><a href=/about >About</a></p>
</div>
  <div id=griddy class="griddy">
  <div class="box1">
  <p class="boxtxt"><a>Metaphyscal Musings</a></p>
        </div>
  <div class="box2">
        </div>
        <div class="box3">
              </div>
        <div class="box4">
                <p class="boxtxt"><a href=/religion >Raunchy Religion</a>
                    </div>
        <div class="box5">
                      <p class="boxtxt"><a>
Cultural Crap
                      </a>
                    </div>
        <div class="box6">
                      <p id=sucky ><a id=sucky>Aquiescience</a></p>
                    </div>

  </div>
</div>



</body>
</html>
