.ig-b- { display: inline; }
.ig-b- img { visibility: hidden; }
.ig-b-:hover { background-position: 0 -60px; }
.ig-b-:active { background-position: 0 -120px; }
.ig-b-16 { width: 16px; height: 16px;
  font-size: .6em;
  background: url(//badges.instagram.com/static/images/ig-badge-sprite-16.png) no-repeat 0 0; } @media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) { .ig-b-16 { background-image: url(//badges.instagram.com/static/images/ig-badge-sprite-16@2x.png); background-size: 60px 178px; } }

p{
font-size: 3em;
}
h1{

}
a{
text-decoration: none;
color: inherit;
z-index: 100;
}
a:hover{
color: white;
font-weight: bolder;
}

#griddy
{border: solid 5px black;}
#heady  {
  width:100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: row wrap;
  height:100vh;
  left: 0px;
  top: 0px;
  background-size: 100%;
  background-repeat: no-repeat;
  background-image:
    url(about.jpg);
  padding: none;
}

.box7 { background-color: #075F5C;
  grid-area: 6 / 1 / 6 / 1;
  display: grid;
  opacity:.9;
  text-align: center;
  grid-template-columns: .8fr 1fr .8fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  border: 5px solid black;
  height:250px;
  width:250px;
  border-radius: 20px 20px 20px 20px;
box-shadow: 7px 7px 2px 1px rgba(0, 0, 0, 0.2);}
  .box8 { background-color: #075F5C;
    grid-area: 6 / 7 / 6 / 7;
    display: grid;
    opacity:.9;
    text-align: center;
    grid-template-columns: .8fr 1fr .8fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    border: 5px solid black;
    height:250px;
    width:250px;
    border-radius: 20px 20px 20px 20px;
  box-shadow: 7px 7px 2px 1px rgba(0, 0, 0, 0.2);}

.griddy {
display: grid;
grid-template-columns: 1fr 1fr .09fr 1fr 1fr;
grid-template-rows: 1fr 1fr .1fr 1fr 1fr;
grid-column-gap: 0px;
grid-row-gap: 0px;
opacity:1;
height:50vh;
width:70%;
justify-content:center;
border-radius: 55px 10px 55px 10px;
box-shadow: 7px 7px 2px 1px rgba(0, 0, 0, 0.2);
grid-area: 3 / 3 / 5  / 7 ;}

.box1 {
  text-align: center;
  width:20%;
  height:30%;
  background-color: #075F5C90;
  display: flex;
  justify-content: center;
  align-content: center;
border-radius: 50px 50px 50px 50px;
}
.boxtxt
{
font-size: 2em;
  padding: 10px;
  z-index: 100;
  font-weight: bolder;grid-column: b
}
.box2 {
  background-color: #DAF7A6;
  grid-area: 3 / 1 / 3 / 6;
opacity:;}
.box3 { background-color: #DAF7A6;
  grid-area: 1 / 3 / 6 / 3;
opacity: .6;}
.box4 { background-color: #075F5C;
  grid-area: 4 / 4 / 6 / 6;
  text-align: center;
  display: grid;
  opacity:.9;
  grid-template-columns: .8fr 1fr .8fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  border-radius: 0px 0px 50px 0px;
}
.box5 { background-color: #075F5C;
  grid-area: 3 / 4 / 1 / 6;
  display: grid;
  opacity:.9;
  text-align: center;
  grid-template-columns: .8fr 1fr .8fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  border-radius: 0px 5px 0px 0px
}
.box6 { background-color: #075F5C;
  grid-area: 4 / 3 / 6 / 1;
  display: grid;
  opacity:.9;
  text-align: center;
  grid-template-columns: .8fr 1fr .8fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  border-radius: 0px 0px 0px 5px;
}
#social{
    font-weight: bolder;
  font-size: 4em;
  grid-area: 1 / 1 / 4 / 4;
  padding: 10px;
  z-index: 100;
  font-weight: bolder;grid-column: b
}
